.blue-band {
    width: 100%;
    background-color: #0282f9;
    height: 80px;
}

.detail-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
    row-gap: 50px;
    padding: 50px 0px;
    position: relative;
    background-color: whitesmoke;
}

.detail-specs {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;

    .artists {
        width: 50%;
        display: flex;
        flex-direction: column;

        .title {
            border-bottom: 1px solid black;
        }
    }

    .spec {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}

.small-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.detail-price {
    width: 100%;
    padding: 15px 10px;
    margin: 20px 0;
    background-color: #55ba59;
    display: flex;
    justify-content: space-between;

    .check {
        color: whitesmoke;
    }

    .price {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #bafd9c;

        span {
            color: whitesmoke;
        }
    }
}

.detail-content {
    width: 70%;

    h1 {
        color: #003f5e;
    }

    p {
        line-height: 25px;
        color: gray;
        font-weight: bold;
    }
}

.advertisement {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h5 {
        text-align: end;
        color: grey;
    }
}
